{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
    <h1>Liste des catégories</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Produits associés</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category in categories %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.name }}</td>
                <td>
                    {% for product in category.products %}
                        <a href="{{ path('app_dashboard_product_show', {'id': product.id}) }}">{{ product }}</a>
                        <br>
                    {% endfor %}
                </td>
                <td>
                    <a href="{{ path('app_dashboard_category_edit', {'id': category.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">Aucune catégorie trouvée.</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_dashboard_category_new') }}">Ajouter une catégorie</a>
{% endblock %}
