{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <h1>{{ product.name }}</h1>

    <div class="container">
        <h2>{{ product.name }}</h2>
        <img src="{{ asset('assets/img/' ~ product.image) }}" class="card-img-top" alt="">
        <p>{{ product.description }}</p>
        <p>{{ product.price }} €</p>

        <a href="{{ path('app_product_index') }}">Retour aux produits</a>
    </div>
{% endblock %}