{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}
    <div class="container img-contain text-center">
        <img src="{{ product.image }}" class="card-image" alt="">

        <div class="infos">
            <h2>{{ product.name }}</h2>
            <p>{{ product.description }}</p>
            <p class="price">{{ product.price }} €</p>
            <a href="{{ path('app_basket_add_product', { 'id': product.id }) }}" class="btn btn-success">Ajouter au panier</a><br>
        </div>
    </div>

    <a class="text-center d-block mt-5" href="{{ path('app_product_index') }}">Retour aux produits</a>

{% endblock %}