{% extends 'base.html.twig' %}

{% block title %}Produit : {{ product.name }}{% endblock %}

{% block body %}
    <h1>Produit : {{ product.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ product.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Prix</th>
                <td>{{ product.price }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_dashboard_product') }}">Retour aux produits</a>

    <a href="{{ path('app_dashboard_product_edit', {'id': product.id}) }}">Modifier</a>

    {{ include('dashboard/product/_delete_form.html.twig') }}
{% endblock %}
